.clock-container{
    border: 1px solid rgb(21, 255, 0);
}

.clock-display{
    border: 1px solid rgb(21, 255, 0);
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

