.clock-container{
    border: 1px solid red;
}

.clock-display{
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

